---
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lenguaje JavaScript</title>
	</head>
	<body>

		<h1>Lenguaje JavaScript</h1>
		<p>Fuentes recomendadas:</p>
		<ul>
			<li>Flanagan</li>
			<li>Rauschmayer</li>
			<li>Manz</li>
			<li>Brad</li>
			<li>Midu</li>
			<li>MDN</li>
		</ul>
		<hr>
		<h2>Axel Rauschmayer</h2>
		<p>
			El Doctor Axel Rauschmayer tiene más de 20 años de experiencia profesional
			en el uso de JavaScript
		</p>

		<h3>JavaScript for impatient programmers</h3>
		<p>Es un libro que tiene 46 capítulos.</p>

		<h4>Capítulo 1</h4>
		<p>Pequeña introducción acerca del autor.</p>

		<h4>Capítulo 2</h4>
		<p>
			Pequeña introducción a las características del libro y de cómo leerlo.
		</p>

		<h4>Capítulo 3</h4>
		<p>Este capítulo contiene información muy importante, desde los inicios de JavaScript hasta el proceso de estandarización actual. JavaScript fue creado en 1995 a traves de Netscape.</p>
		<p>Existen dos estandares de JavaScript: <b>ECMA 262</b> y <b>ISO/IEC 16262</b></p>
		<p>Tuvo su primera aparición en 1995 y hasta 2015 tuvo cambios menores, hasta que en 2015 añadió muchas características nuevas al lenguaje para hacerlo mucho más potente más allá del navegador.</p>
		<p><b>Ecma Tecnical Committee 39</b> El TC39 es un proceso mediante el cual se añaden las nuevas características a JavaScript, consta de 5 fases:</p>
			<ul>
				<li>
					0 strawman
				</li>
				<li>
					1 proposal
				</li>
				<li>
					2 draft
				</li>
				<li>
					3 candidate
				</li>
				<li>
					4 finished
				</li>
			</ul>
			<p>Desde el 2015 las versiones se nombran por año por ejemplo: <b>ES2023</b></p>

		<h4>Capítulo 4</h4>

		<hr>
		<h2>José Hernández</h2>
		<h3>lenguajejs.com</h3>
		<p>Es una documentación web que cuenta con 71 artículos.</p>
		<p>
			Hace stream en Twitch acerca de desarrollo de software y tiene muchos
			videos en su canal de YouTube.
		</p>

		<hr>
		<h2>Brad Traversy</h2>
		<h3>Traversy Media</h3>
		<p>Realiza cursos y tutoriales extensos acerca de programación.</p>
		<p>Tiene muchos cursos y repositorios abiertos.</p>

	</body>
</html>

<style>
</style>